{
  "api_base_url": "https://timeracking.softwere",
  "api_headers": {
    "Content-Type": "application/json",
    "X-Redmine-API-Key": ""
  },
  "custom_fields":[
    {
      "id":"activity",
      "values":[
        { "value": "10", "label": "Analyse" },
        { "value": "8", "label": "Design" },
        { "value": "9", "label": "Entwicklung" },
        { "value": "11", "label": "Test" },
        { "value": "12", "label": "Prüfung" },
        { "value": "13", "label": "Dokumentation" },
        { "value": "14", "label": "Besprechung" },
        { "value": "16", "label": "Sonstiges" },
        { "value": "17", "label": "Supportleistung" },
        { "value": "26", "label": "QM-Dokumentation" },
        { "value": "28", "label": "QM TechnischeDokumentation" }
      ]
    }
  ],
  "endpoints": {
    "log_time": {
      "method": "POST",
      "path": "time_entries.json",
      "body": {
        "time_entry": {
          "issue_id": "{issue_id}",
          "hours": "{time_decimal}",
          "comments": "{comment}",
          "activity_id": "{custom_field_activity}"
        }
      },
      "response_mapping": {
        "results_path": "time_entry",
        "id_field": "id"
      }
    },
    "search_issue": {
      "method": "GET",
      "path": "issues.json",
      "params": {
        "subject": "~{query}",
        "status": "open"
      },
      "response_mapping": {
        "results_path": "issues",
        "display_field": "subject",
        "id_field": "id"
      }
    },
    "delete_time_entry": {
      "method": "DELETE",
      "path": "time_entries/{time_entry_id}.json"
    }
  }
}
