# Erforderliche Bibliotheken für TimelineTracker

# Für die GUI und Kalender-Widgets
tkcalendar
pyinstaller
# Zum Abrufen des aktiven Fenstertitels
PyGetWindow

# Für das System-Tray-Icon
pystray
Pillow

# Für die Erstellung von Autostart-Verknüpfungen unter Windows
winshell

# Für die Kommunikation mit der REST-API
requests
pywin32